* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: rgb(23, 74, 150);
    padding: 70px 0;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.square-blue {
    background-color: rgb(37, 125, 201);
}

.square-green {
    background-color: rgb(49, 203, 149);
}

.square-yellow {
    background-color: rgb(237, 231, 45);
}

.square-red {
    background-color: rgb(245, 67, 55);
}

[class^="square"] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.my-col {
    flex: 0 0 calc(100% / 7 - 20px);
    margin: 20px 10px;
}